@import '../../styles/globalStyles';

.header {
    display: flex;
    background-color: white;
    &-left {
        &__flag {
            object-fit: contain;
            width: 100px;
        }
        &__link {
            text-decoration: none;
            color: black;
        }
    }

    &-middle {
        @include mobile {
            display: none;
        }
        &__title {
            font-size: 25px;
            margin-bottom: 0;
        }
    }

    &-right {
        display: flex;
        margin-left: auto;
        width: 15vw;
        justify-content: space-evenly;
        @include tablet {
            width: 25vw;
        }
        @include mobile {
            width: 50vw;
        }
        &__home {
            font-size: 25px;
            margin-bottom: 0;
        }
        &__about {
            font-size: 25px;
            margin-bottom: 0;
            margin-right: 1rem;
            @include tablet {
                margin-right: 0;
            }
        }
        &__link {
            text-decoration: none;
            color: black;
        }
    }
}